---
title: About
heading: About this Project
layout: base.njk
---

{% include "./_includes/components/hero.html" %}
<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h3>About Blog</h3>
      <p class="about-text">Lorem...</p>
    </div>
    <div class="col-md-6 col-sm-12">
      <h3>Ingredients of this Application</h3>
      <p class="about-text">Ipsum...
      </p>
    </div>
  </div>
</div>